.avatar(@color) {

  .avatar {
    @width: 60.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    padding-left: 5%;
    padding-top: 0.6rem;
    margin-bottom: 3rem;

    &__circle {
      box-sizing: border-box;
      width: @width;
      margin-bottom: 0.9rem;
      border-radius: 100%;
      padding: 4%;
      background: @color content-box;
      border: 1px solid @color;
      line-height: @width;

      &-filler {
        padding-top: 100%;
      }
    }
    &__name,
    &__surname,
    &__profession {
      max-width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: clip;
    }

    &__name {
      font-weight: 100;
      font-size: 2.3rem;
      line-height: 2.3rem;
    }

    &__surname {
      font-weight: 900;
      font-size: 2.7rem;
      line-height: 2.2rem;
      margin-bottom: 0.5rem;
      letter-spacing: -2px;
    }

    &__profession {
      font-size: 1rem;
      font-weight: 900;
    }
  }
}
