/* LESS Document */
/*fonts*/
@font-face {
	font-family: 'myrad';
	src:url('./fonts/myriadpro-regular.ttf');
}
/*colors*/
@blue: #0270ba;
@gray: #e6e6e6;
@white: white;
/*styles*/
body {
  margin: 0;
  padding: 0;
	background-color: @white;
  font-family: myrad, Arial, sans-serif;
  font-size: 12px;

  main {
    padding: 49px 37px 49px 39px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 800px;
    @media (max-width:816px) {
      width: 100%;
      padding: 5%;
      margin: 0;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .column-left {
      flex: 0 0 263px;
      margin-right: 50px;
      @media (max-width:816px){
        margin: 0;
        flex: 1 1 316px;
      }
    }

    .column-right {
      flex:  0 0 408px;
      @media (max-width:816px){
        flex: 1 1 408px;
      }
    }

    .section {
      margin-bottom: 38px;
    }
  }
}

@import 'components/line/line';
.line(@blue);

@import 'components/avatar/avatar';
.avatar(@blue);

@import 'components/profile/profile';
.profile;

@import 'components/contact/contact';
.contact(@blue);

@import 'components/skills/skills';
.skills(@blue,@gray);

@import 'components/education/education';
.education(@blue);

@import 'components/experience/experience';
.experience(@blue);

@import 'components/software/software';
.software(@blue,@gray);

@import 'components/li-text/li-text';
.li-text(@blue);
