include ./components/avatar/avatar
include ./components/profile/profile
include ./components/contact/contact
include ./components/skills/skills
include ./components/experience/experience
include ./components/education/education
include ./components/software/software
include ./favicons/favicons
doctype html
html
    head
        meta(charset = "utf-8")
        meta(name = "viewport", content = "initial-scale=1.0, width=device-width")
        meta(name = "Keywords" content = "resume")
        meta(name = "description" content = "Сайт - визитка")
        +favicons
        title Resume
    body
        main
            .column.column-left
                section.section
                    +avatar()
                section.section
                    +profile({ title: 'profile', src: 'profile-icon', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu <strong>pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</strong>' })
                section.section
                    +contact()
                section.section
                    +skills()
            .column.column-right
                section.section
                    +education
                section.section
                    +experience
                section.section
                    +software