/* LESS Document */
/*шрифты*/
@font-face{
			  font-family: 'myrad';
			  src:url('myriadpro-regular.ttf');
}
/*цвета*/
@base: #0000FF;
@color-1: #FFF;
@color-2: lighten(@base,30%);
@color-3: lighten(@base,20%);
@color-4: lighten(@base,10%);
@color-5: lighten(@base,0%);
@blue: #3d6cb0;
@width: 200px;
body{
	display: flex;
	flex-direction: row;
  justify-content: space-between;
	align-items: flex-start;
  flex-wrap: wrap;
	
	background-color: @color-1;
	font-family: Arial;
	padding:6% 0;
	margin: 0;
}
/*
body>div{
	background-color: @color-2;
	opacity: 0.8;
	div{
		background-color: @color-3;
		div{
			background-color: @color-4;
			div{
				background-color: @color-5;
			}
		}
	}
}*/
.fon {
  background-image: url(cv.png);
	background-size: cover;
}

.column>div{
		margin: 0 6% 50px;
	}

.column-1{
  flex: 7 7 210px;
	.avatar{
		display: flex;
		flex-direction: column;
		align-items: center;
		
		#circle{
			width: @width;
			height: @width;
			margin-bottom: 20px;
			background: @blue;
			border-radius: @width/2;
		}
		.name{
			margin: 0px -10px;
			text-transform: uppercase;
			text-align: center;
		}
		.abold{
			font-weight: 100;
			font-size: 36px;
		}
		.bbold{
			font-weight: 900;
			font-size: 40px;
		}
		h3{
			.myrad;
			.bold;
		}
	}
	.profile{
		
	}
}
.column-2{
	flex:  10 10 300px;
	.education{
	}
	li{
		.myrad;
		span{
			.blue;
			.bold;
		}	
	}
	.experience{
		span{
			color: black;
		}
	}
}
.line{
	display: flex;
	height: 70px;
	align-items: center;
	margin-bottom: 40px;
	color:@blue;
	.icon{
		flex: 0 0 70px;
		float: left;
		width: 70px;
		height: 70px;
		border-radius: 35px;
		background: @blue;
	}
	.title{
		flex-grow: auto;
		font-family: myrad;
		font-size: 40px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 10px;
	}
	.blue-line{
		flex: 1 1 0;
		height: 6px;
		background-color: @blue;
	}
}
ul{
	list-style-image: url(circle.svg);
}
/*примеси*/
.myrad{
	font-family: myrad;
	font-size: 25px;
	color: black;
}
.blue{
	color:@blue;
}
.bold{
	font-weight: 900;
	text-transform: uppercase;
}


