/* LESS Document */
/*fonts*/
@font-face {
  font-family: 'myrad';
  src: url('myriadpro-regular.ttf');
}
/*colors*/
body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: white;
  font-family: Arial;
  padding: 6% 0;
  margin: 0;
}
.column > div {
  margin: 0 6% 50px;
}
@media (min-width: 900px) {
  .column-1 {
    margin-left: 10%;
  }
  .column-2 {
    margin-right: 10%;
  }
}
.column-1 {
  flex: 7 7 280px;
}
.column-1 .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column-1 .avatar #circle {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 110px;
  padding: 10px;
  background: #0270ba content-box;
  border: 1px solid #0270ba;
}
.column-1 .avatar .name {
  margin: 0px -10px;
  text-transform: uppercase;
  text-align: center;
}
.column-1 .avatar .abold {
  font-weight: 100;
  font-size: 36px;
}
.column-1 .avatar .bbold {
  font-weight: 900;
  font-size: 40px;
}
.column-1 .avatar h3 {
  font-family: myrad;
  font-size: 25px;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
}
.column-1 .profile .icon {
  background-image: url(profile.png);
  background-size: 35px 35px;
  background-position: center;
  background-repeat: no-repeat;
}
.column-1 .contact {
  font-family: myrad;
  font-size: 25px;
  color: black;
  font-size: 20px;
}
.column-1 .contact .icon {
  background-image: url(PHONE.png);
  background-size: 64px 64px;
}
.column-1 .contact span {
  display: inline-block;
  width: 100px;
  margin-top: 20px;
  color: #0270ba;
  font-weight: 900;
  text-transform: uppercase;
}
.column-1 .skills {
  font-family: myrad;
  font-size: 25px;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.column-1 .skills .icon {
  background-image: url(SKILLS.png);
  background-size: 64px 64px;
}
.column-1 .skills .circles {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 10%;
  height: 18px;
}
.column-1 .skills .circles div {
  height: 18px;
  flex-basis: 18px;
  background-color: #0270ba;
  border-radius: 9px;
}
.column-1 .skills .circles .gray {
  background-color: #e6e6e6;
}
.column-2 {
  flex: 10 10 400px;
}
.column-2 .education .icon {
  background-image: url(EDUCATION.png);
  background-size: 64px 64px;
}
.column-2 .experience .icon {
  background-image: url(EXPERIENCE.png);
  background-size: 64px 64px;
}
.column-2 .experience span {
  color: black;
}
.column-2 .software .icon {
  background-image: url(SOFTWARE.png);
  background-size: 64px 64px;
}
.column-2 .software .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.column-2 .software .container div:nth-child(1) div:nth-child(1) div {
  width: 90%;
}
.column-2 .software .container div:nth-child(1) div:nth-child(2) div {
  width: 70%;
}
.column-2 .software .container div:nth-child(1) div:nth-child(3) div {
  width: 60%;
}
.column-2 .software .container div:nth-child(2) div:nth-child(1) div {
  width: 80%;
}
.column-2 .software .container div:nth-child(2) div:nth-child(2) div {
  width: 70%;
}
.column-2 .software .container div:nth-child(2) div:nth-child(3) div {
  width: 90%;
}
.column-2 .software .soft {
  flex: 1 1 100px;
  font-family: myrad;
  font-size: 25px;
  color: black;
  text-transform: uppercase;
}
.column-2 .software .soft div {
  height: 20px;
  background-color: #e6e6e6;
  margin-top: 10px;
  margin-bottom: 15px;
}
.column-2 .software .soft div div {
  content: "";
  width: 20%;
  height: 100%;
  background-color: #0270ba;
}
.line {
  display: flex;
  height: 70px;
  align-items: center;
  margin-bottom: 20px;
  color: #0270ba;
}
.line .icon {
  flex: 0 0 64px;
  height: 64px;
  float: left;
  padding: 2px;
  border-radius: 35px;
  background: #0270ba content-box;
  border: 1px solid #0270ba;
}
.line .title {
  flex-grow: auto;
  font-family: myrad;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 10px;
}
.line .blue-line {
  flex: 1 1 0;
  height: 6px;
  background-color: #0270ba;
}
ul {
  list-style-image: url(circle.svg);
}
ul li {
  margin: 10px 0;
  font-family: myrad;
  font-size: 25px;
  color: black;
}
ul li span {
  color: #0270ba;
  font-weight: 900;
  text-transform: uppercase;
}
/*primesi*/
.myrad {
  font-family: myrad;
  font-size: 25px;
  color: black;
}
.blue {
  color: #0270ba;
}
.bold {
  font-weight: 900;
  text-transform: uppercase;
}
.normal-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.margin-r {
  margin-right: 5%;
}
.margin-bottom {
  margin-top: 10px;
  margin-bottom: 15px;
}
.rect {
  content: "";
  width: 20%;
  height: 100%;
  background-color: #0270ba;
}
