/* LESS Document */
/*fonts*/
@font-face {
  font-family: 'myrad';
  src: url('myriadpro-regular.ttf');
}
/*colors*/
body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #ffffff;
  font-family: Arial;
  padding: 6% 0;
  margin: 0;
}
.column > div {
  margin: 0 6% 50px;
}
@media (min-width: 900px) {
  .column-1 {
    margin-left: 10%;
  }
  .column-2 {
    margin-right: 10%;
  }
}
.column-1 {
  flex: 7 7 280px;
}
.column-1 .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column-1 .avatar #circle {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  background: #3d6cb0;
  border-radius: 100px;
}
.column-1 .avatar .name {
  margin: 0px -10px;
  text-transform: uppercase;
  text-align: center;
}
.column-1 .avatar .abold {
  font-weight: 100;
  font-size: 36px;
}
.column-1 .avatar .bbold {
  font-weight: 900;
  font-size: 40px;
}
.column-1 .avatar h3 {
  font-family: myrad;
  font-size: 25px;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
}
.column-1 .contact {
  font-family: myrad;
  font-size: 25px;
  color: black;
  font-size: 20px;
}
.column-1 .contact span {
  display: inline-block;
  width: 100px;
  margin-top: 20px;
  color: #3d6cb0;
  font-weight: 900;
  text-transform: uppercase;
}
.column-1 .skills {
  font-family: myrad;
  font-size: 25px;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.column-1 .skills .circles {
  margin-top: 10px;
  margin-bottom: 15px;
  height: 20px;
  background-color: #3d6cb0;
}
.column-2 {
  flex: 10 10 400px;
}
.column-2 li {
  font-family: myrad;
  font-size: 25px;
  color: black;
}
.column-2 li span {
  color: #3d6cb0;
  font-weight: 900;
  text-transform: uppercase;
}
.column-2 .experience span {
  color: black;
}
.column-2 .software .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.column-2 .software .soft {
  flex: 1 1 100px;
  font-family: myrad;
  font-size: 25px;
  color: black;
  text-transform: uppercase;
}
.column-2 .software .soft div {
  height: 20px;
  background-color: #3d6cb0;
  margin-top: 10px;
  margin-bottom: 15px;
}
.line {
  display: flex;
  height: 70px;
  align-items: center;
  margin-bottom: 20px;
  color: #3d6cb0;
}
.line .icon {
  flex: 0 0 64px;
  height: 64px;
  float: left;
  padding: 2px;
  border-radius: 35px;
  background: #3d6cb0 content-box;
  border: 1px solid #3d6cb0;
}
.line .title {
  flex-grow: auto;
  font-family: myrad;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 10px;
}
.line .blue-line {
  flex: 1 1 0;
  height: 6px;
  background-color: #3d6cb0;
}
ul {
  list-style-image: url(circle.svg);
}
/*primesi*/
.myrad {
  font-family: myrad;
  font-size: 25px;
  color: black;
}
.blue {
  color: #3d6cb0;
}
.bold {
  font-weight: 900;
  text-transform: uppercase;
}
.normal-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.margin-r {
  margin-right: 5%;
}
.margin-bottom {
  margin-top: 10px;
  margin-bottom: 15px;
}
