mixin li-text(options)
    if (!options || (typeof(options) !== 'object'))
        - options = {}
    - options.title = options.title || 'title'
    - options.date = options.date || 'date'
    - options.place = options.place || 'place'
    - options.text = options.text || 'text'

    li.li-text
        span.li-text__title #{options.title}
        span.li-text__date #{options.date }
        p.li-text__place #{options.place}
        p.li-text__text !{options.text}
