include ../header/header
include ../list-item/list-item

mixin education(options)
    - options = options || {}
    - options.list = options.list || []

    section(class="education")
        .education__header
            +header(options)
        ul.education__list
            each item in options.list
                li.education__item
                    +list-item(item)
