include ../line/line
include ../li-text/li-text

mixin education(options)
    - options = options || {}
    - options.list = options.list || []

    .education
        +line(options)
        ul.education__ul
            each li in options.list
                +li-text(li)
