include ../line/line
include ../line-text/line-text

mixin education(options)
    - options = options || {}
    - options.list = options.list || []

    .education
        +line(options)
        ul.education__list
            each line in options.list
                +line-text(line)
