include ../line/line
mixin profile(options)
    if !options
        - options = {}
    - options.text = options.text || 'text'

    section.profile
        +line(options)
        p.profile__text !{options.text}
