include ../header/header
mixin profile(options)
    - options = options || {}
    - options.text = options.text || 'text'

    section(class="profile")
        .profile__header
            +header(options)
        p.profile__text !{options.text}
