include ../line/line
mixin profile(options)
    if !options
        - options = {}

    .profile
        +line(options)
        if options.text
            p.profile__text #{options.text}
        else
            p.profile__text
                include ../text/lorem-long.txt
