/* LESS Document */
/*fonts*/
@font-face {
  font-family: 'myrad';
  src: url(fonts/MyriadProRegular/MyriadProRegular.ttf) format('truetype'), url(fonts/MyriadProRegular/MyriadProRegular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'myrad';
  src: url(fonts/MyriadProItalic/MyriadProItalic.ttf) format('truetype'), url(fonts/MyriadProItalic/MyriadProItalic.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'myrad';
  src: url(fonts/MyriadProSemiBold/MyriadProSemiBold.ttf) format('truetype'), url(fonts/MyriadProSemiBold/MyriadProSemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'myrad';
  src: url(fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf) format('truetype'), url(fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff) format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'myrad';
  src: url(fonts/MyriadProBold/MyriadProBold.ttf) format('truetype'), url(fonts/MyriadProBold/MyriadProBold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'myrad';
  src: url(fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf) format('truetype'), url(fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff) format('woff');
  font-weight: 700;
  font-style: italic;
}
/*colors*/
/*styles*/
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: myrad, Arial, sans-serif;
  font-size: 12px;
}
body main {
  padding: 48px 40px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 1500px) {
  body main {
    width: 50%;
    padding: 2%;
  }
}
@media (min-width: 1200px) {
  body main {
    width: 75%;
    padding: 3%;
  }
}
@media (min-width: 1000px) {
  body main {
    width: 80%;
    padding: 4%;
  }
}
@media (max-width: 816px) {
  body main {
    width: 100%;
    padding: 5%;
    margin: 0;
    flex-wrap: wrap;
  }
}
body main .column-left {
  width: 36.5%;
  margin-right: 7.5%;
}
@media (max-width: 816px) {
  body main .column-left {
    margin-right: 0;
    width: 100%;
  }
}
body main .column-right {
  flex: 1 1;
}
.line {
  display: flex;
  height: 3rem;
  align-items: center;
  margin-bottom: 0.6rem;
  color: #0270ba;
  overflow: hidden;
}
.line__icon {
  flex: 0 0 3rem;
  box-sizing: border-box;
  height: 3rem;
  float: left;
  padding: 2px;
  border-radius: 100%;
  background: #0270ba content-box;
  border: 1px solid #0270ba;
  background-size: 3rem 3rem;
  background-position: center;
  background-repeat: no-repeat;
}
.line__title {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 2%;
  letter-spacing: -1px;
}
.line__line {
  flex: 1 1 0;
  height: 6.25%;
  background-color: #0270ba;
}
.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  padding-left: 5%;
  padding-top: 0.6rem;
  margin-bottom: 3rem;
}
.avatar__circle {
  box-sizing: border-box;
  width: 60.4%;
  margin-bottom: 0.9rem;
  border-radius: 100%;
  padding: 4%;
  background: #0270ba content-box;
  border: 1px solid #0270ba;
  line-height: 60.4%;
}
.avatar__circle-filler {
  padding-top: 100%;
}
.avatar__name,
.avatar__surname,
.avatar__profession {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.avatar__name {
  font-weight: 100;
  font-size: 2.3rem;
  line-height: 2.3rem;
}
.avatar__surname {
  font-weight: 900;
  font-size: 2.7rem;
  line-height: 2.2rem;
  margin-bottom: 0.5rem;
  letter-spacing: -2px;
}
.avatar__profession {
  font-size: 1rem;
  font-weight: 900;
}
.profile {
  margin-bottom: 1.2rem;
}
.profile__text {
  font-size: 0.62rem;
}
.contact {
  margin-bottom: 1.6rem;
}
.contact__line {
  margin: 1.13rem 0;
}
.contact__name {
  width: 30%;
  color: #0270ba;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 900;
  display: inline-block;
}
.contact__value {
  display: inline-block;
  font-size: 0.9rem;
}
.contact__value a {
  color: black;
  text-decoration: none;
}
.skills__container {
  padding: 0.3rem 11%;
}
.skills__name {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 0;
}
.skills .progress {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.skills .progress__circle {
  flex-basis: 5.3%;
  background-color: #e6e6e6;
  border-radius: 100%;
}
.skills .progress__circle-filler {
  padding-top: 100%;
}
.skills .progress_color_blue {
  background-color: #0270ba;
}
.skills__progress-mix {
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
  width: 100%;
}
.education {
  margin-bottom: 2.3rem;
}
.education__list {
  list-style-image: url(icons/circle.svg);
  padding-left: 2.15rem;
  margin: 1rem 0 0 0;
}
.experience {
  margin-bottom: 2.3rem;
}
.experience__list {
  list-style-image: url(icons/circle.svg);
  padding-left: 2.15rem;
  margin: 1.6rem 0 0 0;
}
.software__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 0.3rem;
  padding-top: 0.3rem;
}
.software__container .soft__name {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}
.software__container .soft__progress {
  background-color: #e6e6e6;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: flex-start;
}
.software__container .soft__filler {
  padding-top: 8%;
  background-color: #0270ba;
}
.software__container .soft-mix {
  width: 45%;
}
.line-text {
  margin: 0.58rem 0;
}
.line-text__title {
  font-size: 1.1rem;
  font-weight: 900;
  color: #0270ba;
  text-transform: uppercase;
}
.line-text__date {
  font-size: 1.1rem;
  font-weight: 900;
  margin-left: 0.58rem;
}
.line-text__place {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}
.line-text__text {
  font-size: 0.6rem;
  margin: 0.29rem 0;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiaW5kZXguY3NzIiwic291cmNlcyI6W10sIm1hcHBpbmdzIjoiOzs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7OyIsInNvdXJjZVJvb3QiOiIifQ==*/