/* LESS Document */
/*fonts*/
@font-face {
  font-family: 'myrad';
  src: url(fonts/MyriadProRegular/MyriadProRegular.ttf) format('truetype'), url(fonts/MyriadProRegular/MyriadProRegular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'myrad';
  src: url(fonts/MyriadProItalic/MyriadProItalic.ttf) format('truetype'), url(fonts/MyriadProItalic/MyriadProItalic.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'myrad';
  src: url(fonts/MyriadProSemiBold/MyriadProSemiBold.ttf) format('truetype'), url(fonts/MyriadProSemiBold/MyriadProSemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'myrad';
  src: url(fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf) format('truetype'), url(fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff) format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'myrad';
  src: url(fonts/MyriadProBold/MyriadProBold.ttf) format('truetype'), url(fonts/MyriadProBold/MyriadProBold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'myrad';
  src: url(fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf) format('truetype'), url(fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff) format('woff');
  font-weight: 700;
  font-style: italic;
}
/*colors*/
/*styles*/
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: myrad, Arial, sans-serif;
  font-size: 12px;
}
body main {
  padding: 47px 37px 49px 39px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 816px) {
  body main {
    width: 100%;
    padding: 5%;
    margin: 0;
  }
}
body main .column-left {
  flex: 0 0 263px;
  margin-right: 50px;
}
@media (max-width: 816px) {
  body main .column-left {
    margin: 0;
    flex: 1 1 316px;
  }
}
body main .column-right {
  flex: 0 0 408px;
}
@media (max-width: 816px) {
  body main .column-right {
    flex: 1 1 408px;
  }
}
.line {
  display: flex;
  height: 48px;
  align-items: center;
  margin-bottom: 10px;
  color: #0270ba;
  overflow: hidden;
}
.line__icon {
  flex: 0 0 48px;
  box-sizing: border-box;
  height: 48px;
  float: left;
  padding: 2px;
  border-radius: 35px;
  background: #0270ba content-box;
  border: 1px solid #0270ba;
  background-size: 48px 48px;
  background-position: center;
  background-repeat: no-repeat;
}
.line__title {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
}
.line__line {
  flex: 1 1 0;
  height: 3px;
  background-color: #0270ba;
}
.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  padding-left: 14px;
  padding-top: 10px;
  margin-bottom: 46px;
}
.avatar__circle {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  border-radius: 85px;
  padding: 10px;
  background: #0270ba content-box;
  border: 1px solid #0270ba;
  line-height: 150px;
}
.avatar__name {
  font-weight: 100;
  font-size: 2.3rem;
  line-height: 2.3rem;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: clip;
}
.avatar__surname {
  font-weight: 900;
  font-size: 2.7rem;
  line-height: 2.7rem;
  width: 200px;
  overflow: hidden;
  text-overflow: clip;
}
.avatar__profession {
  font-size: 1rem;
  font-weight: 900;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: clip;
}
.profile {
  margin-bottom: 20px;
}
.profile__text {
  font-size: 0.62rem;
}
.contact {
  margin-bottom: 26px;
}
.contact__line {
  margin: 18px 0;
}
.contact__name {
  width: 80px;
  color: #0270ba;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 900;
  display: inline-block;
}
.contact__value {
  display: inline-block;
  font-size: 0.9rem;
}
.contact__value a {
  color: black;
  text-decoration: none;
}
.skills {
  margin-bottom: 38px;
}
.skills__container {
  padding: 5px 11%;
}
.skills__name {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 0;
}
.skills__progress-mix {
  margin-top: 6px;
  margin-bottom: 13px;
  width: 100%;
}
.skills .progress {
  display: flex;
  justify-content: space-between;
  height: 11px;
  box-sizing: border-box;
}
.skills .progress__circle {
  height: 11px;
  flex-basis: 11px;
  background-color: #e6e6e6;
  border-radius: 5.5px;
}
.skills .progress_color_blue {
  background-color: #0270ba;
}
.education {
  margin-bottom: 34px;
}
.education__ul {
  list-style-image: url(icons/circle.svg);
  padding-left: 34px;
  margin: 15px 0 0 0;
}
.experience {
  margin-bottom: 35px;
}
.experience__ul {
  list-style-image: url(icons/circle.svg);
  padding-left: 34px;
  margin: 25px 0 0 0;
}
.software__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-top: 5px;
}
.software__container .soft__name {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}
.software__container .soft__progress {
  height: 14px;
  background-color: #e6e6e6;
  margin-top: 8px;
  margin-bottom: 13px;
}
.software__container .soft__percent {
  width: 1%;
  height: 100%;
  background-color: #0270ba;
  float: left;
}
.software__container .soft-mix {
  width: 45%;
}
.li-text {
  margin: 10px 0;
}
.li-text__title {
  font-size: 1.1rem;
  font-weight: 900;
  color: #0270ba;
  text-transform: uppercase;
}
.li-text__date {
  font-size: 1.1rem;
  font-weight: 900;
  margin-left: 10px;
}
.li-text__place {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}
.li-text__text {
  font-size: 0.6rem;
  margin: 5px 0;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiaW5kZXguY3NzIiwic291cmNlcyI6W10sIm1hcHBpbmdzIjoiOzs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7OyIsInNvdXJjZVJvb3QiOiIifQ==*/