mixin soft(options)
    - options = options || {}
    - options.name = options.name || 'name'
    - options.percent = options.percent || 50

    div(class = "soft")
        span.soft__name #{options.name}
        .soft__progress
            .soft__filler(style = "width:" + options.percent + "%;")
