.soft(@color1, @color2) {

  .soft {

    &__name {
      font-size: 1rem;
      font-weight: 900;
      text-transform: uppercase;
    }

    &__progress {
      background-color: @color2;
      margin-top: 0.5rem;
      margin-bottom: 0.8rem;
      display: flex;
      justify-content: flex-start;
    }

    &__percent-1 {
      width: 1%;
      padding-top: 8%;
      background-color: @color1;
    }

    &__percent-10 {
      width: 10%;
      padding-top: 8%;
      background-color: @color1;
    }
  }
}
