mixin soft(options)
    if (!options || (typeof(options) !== 'object'))
        - options = {}
    - options.mix = options.mix || ''
    - options.name = options.name || 'name'
    - options.percent = options.percent || 50

    div(class = "soft " + options.mix)
        span.soft__name #{options.name}
        .soft__progress
            - for (var counter = 0; counter < options.percent; counter += 1)
                .soft__percent