.soft(@color1, @color2) {

  .soft {

    &__name {
      font-size: 1rem;
      font-weight: 900;
      text-transform: uppercase;
    }

    &__progress {
      background-color: @color2;
      margin-top: 0.5rem;
      margin-bottom: 0.8rem;
    }

    &__filler {
      padding-top: 8%;
      background-color: @color1;
    }
  }
}
