.contact(@color, @text){

  .contact {
    margin-bottom: 1.6rem;

    &__line {
      margin: 1.13rem 0;
    }

    &__name {
      width: 30%;
      color: @color;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 900;
      display: inline-block;
    }

    &__value {
      display: inline-block;
      font-size: 0.9rem;

      a {
        color: @text;
        text-decoration: none;
      }
    }
  }
}
