include ../line/line
mixin contact
    .contact
        +line('contact')
        <span>address</span> Main Street, City.<br>
        <span>e-mail</span> contact@domain.com<br>
        <span>phone</span>555-555-555<br>
        <span>website</span>www.yourweb.com<br>