.contact(@color){
    .contact{
        font-size: 20px;
        span{
            display: inline-block;
            width: 100px;
            margin-top: 20px;
            color: @color;
            font-weight: 900;
        }
    }
}