include ../line/line
mixin contact
    .contact
        +line({ title:'contact', src:'contact-icon' })
        p
            span.blue address
            span Main Street, City.
        p
            span.blue e-mail
            span contact@domain.com
        p
            span.blue phone
            span 555-555-555
        p
            span.blue website
            span www.yourweb.com