include ../line/line
mixin contact__line(name, value)
    p.contact__line
        span.contact__name #{name}
        span.contact__value !{value}

mixin contact(options)
    - options = options || {}
    - options.list = options.list || []
    - options.mix = options.mix || ''

    section(class="contact " + options.mix)
        +line(options)
        each contact in options.list
            +contact__line(contact[0], contact[1])
