/* LESS Document */
/*fonts*/
@font-face{
			  font-family: 'myrad';
			  src:url('old/myriadpro-regular.ttf');
}
/*colors*/
@blue: #0270ba;
@gray: #e6e6e6;
@width: 200px;
@circles-size: 20px;
body{
	.normal-flex;
	
	background-color: white;
	font-family: Arial;
	padding:6% 0;
	margin: 0;
}

.column>div{
		margin: 0 6% 50px;
	}
@media (min-width:900px){
	.column-1{
		margin-left:10%;
	}
	.column-2{
		margin-right:10%;
	}
}

.column-1{
  flex: 7 7 280px;
	.avatar{
		display: flex;
		flex-direction: column;
		align-items: center;
		
		#circle{
			width: @width;
			height: @width;
			margin-bottom: 20px;
			border-radius: @width/2+10;
			
			padding: 10px;
			background: @blue content-box;
			border: 1px solid @blue;
		}
		.name{
			margin: 0px -10px;
			text-transform: uppercase;
			text-align: center;
		}
		.abold{
			font-weight: 100;
			font-size: 36px;
		}
		.bbold{
			font-weight: 900;
			font-size: 40px;
		}
		h3{
			.myrad;
			.bold;
		}
	}
	.profile{
		.icon{
			background-image: url(../icons/profile.png);
			background-size: 35px 35px;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	.contact{
		.icon{
			background-image: url(../icons/PHONE.png);
			background-size: 64px 64px;
		}
		.myrad;
		font-size: 20px;
		span{
			display: inline-block;
			width: 100px;
			margin-top: 20px;
			.blue;
			.bold;
		}
	}
	.skills{
		.icon{
			background-image: url(../icons/SKILLS.png);
			background-size: 64px 64px;
		}
		@circles-size: 18px;
		.myrad;
		text-align: center;
		text-transform: uppercase;
		
		.circles{
			display: flex;
  		justify-content: space-around;
			.margin-bottom;
			padding: 0 10%;
			height: @circles-size;
			div{
				height: @circles-size;
				flex-basis: @circles-size;
				background-color: @blue;
				border-radius: @circles-size/2;
			}
			.gray{
				background-color: @gray;
			}
		}
	}
}
.column-2{
	flex:  10 10 400px;
	.education{
		.icon{
			background-image: url(../icons/EDUCATION.png);
			background-size: 64px 64px;
		}
	}
	.experience{
		.icon{
			background-image: url(../icons/EXPERIENCE.png);
			background-size: 64px 64px;
		}
		span{
			color: black;
		}
	}
	.software{
		.icon{
			background-image: url(../icons/SOFTWARE.png);
			background-size: 64px 64px;
		}
		.container{
			.normal-flex;
			div:nth-child(1){
				div:nth-child(1){div{width:90%;}}
				div:nth-child(2){div{width:70%;}}
				div:nth-child(3){div{width:60%;}}
			}
			div:nth-child(2){
				div:nth-child(1){div{width:80%;}}
				div:nth-child(2){div{width:70%;}}
				div:nth-child(3){div{width:90%;}}
			}
		}
		.soft{
			flex:  1 1 100px;
			.myrad;
			text-transform: uppercase;
			div{
				height: @circles-size;
				background-color: @gray;
				.margin-bottom;
				div{
					.rect;
				}
			}

		}
	}
}
.line{
	display: flex;
	height: 70px;
	align-items: center;
	margin-bottom: 20px;
	color:@blue;
	.icon{
		flex: 0 0 64px;
		height: 64px;
		float: left;
		padding: 2px;
		border-radius: 35px;
		background: @blue content-box;
		border: 1px solid @blue;
	}
	.title{
		flex-grow: auto;
		font-family: myrad;
		font-size: 40px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 10px;
	}
	.blue-line{
		flex: 1 1 0;
		height: 6px;
		background-color: @blue;
	}
}
ul{
	list-style-image: url(old/circle.svg);
	li{
		margin: 10px 0;
		.myrad;
		span{
			.blue;
			.bold;
		}	
	}
}
/*primesi*/
.myrad{
	font-family: myrad;
	font-size: 25px;
	color: black;
}
.blue{
	color:@blue;
}
.bold{
	font-weight: 900;
	text-transform: uppercase;
}
.normal-flex{
	display: flex;
	flex-direction: row;
  justify-content: space-between;
	align-items: flex-start;
  flex-wrap: wrap;
}
.margin-r{
	margin-right: 5%;
}
.margin-bottom{
	margin-top: 10px;
	margin-bottom: 15px;
}
.rect{
	content: "";
	width:20%;
	height: 100%;
	background-color: @blue;
}


