include ../line/line
include ../li-text/li-text

mixin experience(options)
    - options = options || {}
    - options.list = options.list || []

    .experience
        +line(options)
        ul.experience__ul
            each li in options.list
                +li-text(li)