include ../header/header
include ../list-item/list-item

mixin experience(options)
    - options = options || {}
    - options.list = options.list || []

    section(class="experience")
        .experience__header
            +header(options)
        ul.experience__list
            each item in options.list
                li.experience__item
                    +list-item(item)
