include ../header/header
include ../list-item/list-item

mixin experience(options)
    - options = options || {}
    - options.list = options.list || []
    - options.mix = options.mix || ''

    section(class="experience " + options.mix)
        +header(options)
        ul.experience__list
            each item in options.list
                +list-item(item)
