include ../line/line
include ../line-text/line-text

mixin experience(options)
    - options = options || {}
    - options.list = options.list || []

    section.experience
        +line(options)
        ul.experience__list
            each line in options.list
                +line-text(line)
