include ../line/line
include ../line-text/line-text

mixin experience(options)
    - options = options || {}
    - options.list = options.list || []
    - options.mix = options.mix || ''

    section(class="experience " + options.mix)
        +line(options)
        ul.experience__list
            each line in options.list
                +line-text(line)
