-var n=3;
include ../line/line
mixin experience
    .experience
        +line({ title:'experience', src:'experience-icon' })
        ul
            - for (var x = 0; x < n; x++)
                li <span>company name</span> //Feb 2011-Jun 2014<br>YOUR JOB HERE
                    </li>
                    include ../text/lorem-short.txt