include ../line/line
include ./soft
mixin software
    .software
        +line({ title:'software', src:'software-icon' })
        .software__container
            .software__soft
                +soft('photoshop')
                +soft('illustrator')
                +soft('indesign')
            .software__soft
                +soft('dreamweaver')
                +soft('after effects')
                +soft('html&css')