include ../line/line
include ../soft/soft
mixin software
    .software
        +line({ title:'software', src:'software-icon' })
        .software__container
            .software__column
                +soft({ name:'photoshop', percent: 90 })
                +soft({ name:'illustrator', percent: 70 })
                +soft({ name:'indesign', percent: 55 })
            .software__column
                +soft({ name:'dreamweaver', percent: 80 })
                +soft({ name:'after effects', percent: 60 })
                +soft({ name:'html&css', percent: 92 })