.soft(){
    .soft{
        &__name{
            text-transform: uppercase;
        }
        &__progress{
            height: @circles-size;
            background-color: @gray;
            .margin-bottom;
            div{
                .rect;
            }
        }
    }
}