include ../line/line
include ../soft/soft

mixin software(options)
    - options = options || {}
    - options.list = options.list || []

    section.software
        +line(options)
        .software__container
            each soft in options.list
                +soft(soft, 'soft-mix')
