include ../line/line
include ./soft__name
mixin software
    .software
        +line('software')
        .container
            .soft.margin-r
                +soft__name('photoshop')
                +soft__name('illustrator')
                +soft__name('indesign')
            .soft
                +soft__name('dreamweaver')
                +soft__name('after effects')
                +soft__name('html&ampcss')