.software(@color1, @color2){

  .software {

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-left: 5px;
      padding-top: 5px;
    }

    &__column {
      flex:  1 1 100px;

      @import '../soft/soft';
      .soft(@color1,@color2);

      &-first {
        margin-right: 10%;
      }
    }
  }
}