include ../header/header
include ../soft/soft

mixin software(options)
    - options = options || {}
    - options.list = options.list || []
    - options.mix = options.mix || ''

    section(class="software "+options.mix)
        +header(options)
        .software__container
            each soft in options.list
                +soft(soft, 'soft-mix')
