.progress(@color1, @color2) {

  .progress {
    @circles-size: 5.3%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    &__circle {
      flex-basis: @circles-size;
      background-color: @color2;
      border-radius: 100%;

      &-filler {
        padding-top: 100%;
      }
    }

    &_color_blue {
      background-color: @color1;
    }
  }
}