mixin progress(options)
    if (!options || (typeof(options) !== 'object'))
        - options = {}
    - options.mix = options.mix || ''
    - options.value = options.value || 1
    - options.max = options.max || 5

    div(class = "progress " + options.mix)
        - for (var x = 0; x < options.max; x++)
        if (x < options.value)
            .progress__circle.progress__circle_color_blue
        else
            .progress__circle