mixin progress(options)
    - options = options || {}
    - options.value = options.value || 1
    - options.max = options.max || 5
    if (options.value > options.max)
        - options.value = options.max

    div(class = "progress")
        - for (var counter = 0; counter < options.max; counter += 1)
        if (counter < options.value)
            .progress__circle.progress_color_blue
                .progress__circle-filler
        else
            .progress__circle
                .progress__circle-filler
