include ../line/line
include ../progress/progress
mixin skills
    .skills
        +line({ title:'skills', src:'skills-icon' })
        .skills__container
            .skills__name creative
            +progress({ mix:'skills__progress-mix', max:12, value:9 })
            .skills__name teamwork
            +progress({ mix:'skills__progress-mix', max:12, value:11 })
            .skills__name innovate
            +progress({ mix:'skills__progress-mix', max:12, value:6 })
            .skills__name communicaton
            +progress({ mix:'skills__progress-mix', max:12, value:11 })

