include ../line/line
mixin skills
    .skills
        +line({ title:'skills', src:'skills-icon' })
        .skills__name creative
        .skills__progress
            +progress(10,7)
        .skills__name teamwork
        .skills__progress
            +progress(10,9)
        .skills__name innovate
        .skills__progress
            +progress(10,5)
        .skills__name communicaton
        .skills__progress
            +progress(10,7)

mixin progress(max,value)
    - for (var x = 0; x < max; x++)
        if (x < value)
            .blue
        else
            div