include ../line/line
mixin skills
    .skills
        +line('skills')
        span creative
            <div class="circles">
            <div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div class="gray"></div><div class="gray"></div><div class="gray"></div>
            </div>
        span teamwork
            <div class="circles">
            <div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div class="gray"></div>
            </div>
        span innovate
            <div class="circles">
            <div></div><div></div><div></div><div></div><div></div><div></div>
            <div class="gray"></div><div class="gray"></div><div class="gray"></div><div class="gray"></div><div class="gray"></div><div class="gray"></div>
            </div>
        span communicaton
            <div class="circles">
            <div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div class="gray"></div>
            </div>
