.skills(@color1, @color2) {

  .skills{

    &__header {
      margin-bottom: 0.6rem;
    }

    &__container {
      padding: 0.3rem 11%;
    }

    &__name {
      text-align: center;
      text-transform: uppercase;
      font-size: 1rem;
      margin-top: 0;
    }

    @import '../progress/progress';
    .progress(@color1, @color2);

    &__progress {
      margin-top: 0.4rem;
      margin-bottom: 0.8rem;
      width: 100%;
    }
  }
}