mixin line(options)
    - // if (!options || (typeof(options) !== 'object'))
    if !options
        - options = {}
    if (!options.title)
        - options.title = 'Title'

    .line
        if (options.src)
            - var url = require('./icons/' + options.src + '.png')
            .line__icon(style = "background-image: url(" + url + ")")
        else
            .line__icon
        .line__title #{options.title}
        .line__line
