.line(@color) {
    .line {
        display: flex;
        height: 70px;
        align-items: center;
        margin-bottom: 20px;
        color: @color;
        &__icon {
            flex: 0 0 64px;
            height: 64px;
            float: left;
            padding: 2px;
            border-radius: 35px;
            background: @color content-box;
            border: 1px solid @color;
            background-size: 64px 64px;
            background-position: center;
            background-repeat: no-repeat;
        }
        &__title {
            flex-grow: auto;
            font-size: 40px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 10px;
        }
        &__line {
            flex: 1 1 0;
            height: 6px;
            background-color: @color;
        }
    }
}